In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\Hardik\\Desktop\\New folder\\data.csv")

In [4]:
df.head()

,REF_DATE,GEO,DGUID,Job vacancy statistics,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2011-03,Canada,2016A000011124,Number of job vacancies,Industrial aggregate excluding unclassified bu...,Number,223,thousands,3,v65956923,1.1.2,229.8,A,NaN,NaN,1
1,2011-03,Canada,2016A000011124,Number of job vacancies,"Forestry, logging and support [11N]",Number,223,thousands,3,v65956922,1.1.4,NaN,F,NaN,NaN,1
2,2011-03,Canada,2016A000011124,Number of job vacancies,"Mining, quarrying, and oil and gas extraction ...",Number,223,thousands,3,v65956924,1.1.10,4.3,D,NaN,NaN,1
3,2011-03,Canada,2016A000011124,Number of job vacancies,Utilities [22],Number,223,thousands,3,v65956925,1.1.17,NaN,F,NaN,NaN,1
4,2011-03,Canada,2016A000011124,Number of job vacancies,Construction [23],Number,223,thousands,3,v65956926,1.1.21,11.7,D,NaN,NaN,1

In [5]:
toDrop = ["SYMBOL","TERMINATED"]

In [6]:
df.isnull().sum()

REF_DATE                                                     0
GEO                                                          0
DGUID                                                        0
Job vacancy statistics                                       0
North American Industry Classification System (NAICS)        0
UOM                                                          0
UOM_ID                                                       0
SCALAR_FACTOR                                                0
SCALAR_ID                                                    0
VECTOR                                                       0
COORDINATE                                                   0
VALUE                                                    55068
STATUS                                                       0
SYMBOL                                                   88200
TERMINATED                                               88200
DECIMALS                                                     0
dtype: int64

# We can drop the entire column of SYMBOL and TERMINATED as it does not contain any data

In [7]:
df = df.drop(toDrop, axis = 1)

In [8]:
df.isnull().sum()

REF_DATE                                                     0
GEO                                                          0
DGUID                                                        0
Job vacancy statistics                                       0
North American Industry Classification System (NAICS)        0
UOM                                                          0
UOM_ID                                                       0
SCALAR_FACTOR                                                0
SCALAR_ID                                                    0
VECTOR                                                       0
COORDINATE                                                   0
VALUE                                                    55068
STATUS                                                       0
DECIMALS                                                     0
dtype: int64

# The column VALUE contains a large number of null values but we drop the null rows then the size of data gets reduced by 60%

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88200 entries, 0 to 88199
Data columns (total 14 columns):
REF_DATE                                                 88200 non-null object
GEO                                                      88200 non-null object
DGUID                                                    88200 non-null object
Job vacancy statistics                                   88200 non-null object
North American Industry Classification System (NAICS)    88200 non-null object
UOM                                                      88200 non-null object
UOM_ID                                                   88200 non-null int64
SCALAR_FACTOR                                            88200 non-null object
SCALAR_ID                                                88200 non-null int64
VECTOR                                                   88200 non-null object
COORDINATE                                               88200 non-null object
VALUE                                                    33132 non-null float64
STATUS                                                   88200 non-null object
DECIMALS                                                 88200 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 9.4+ MB

In [10]:
df.to_csv("C:\\Users\\Hardik\\Desktop\\data.csv")