# Importing the required libraries

In [1]:
import MySQLdb
import pandas as pd

# Creating connection with sql database

In [2]:
connection = MySQLdb.connect (host = "localhost", user = "root", passwd = "", db = "geo_before_norm")
cursor = connection.cursor ()

# Removing the transitive dependency between GEO and DGUID

In [3]:
cursor.execute ("select distinct GEO from jobs")
data = cursor.fetchall ()

geoLocationList = []
for location in data:
    geoLocationList.append(location[0])

cursor.execute("select distinct DGUID from jobs")
dguiddata = cursor.fetchall()
DGUIDList = []
for value in dguiddata:
    DGUIDList.append(value[0])

# Creating the new csv file for the new table

In [4]:
finalList =  ["geo_location,dguid_value"]
for index in range(len(geoLocationList)):
    line = "{},{}".format(geoLocationList[index],DGUIDList[index])
    finalList.append(line)

# Writing it to the file

In [5]:
result = "\n".join(finalList)
fout = open("C:\\Users\\Hardik\\Desktop\\GEONorm.csv","w")
fout.write(result)
fout.close()

# Removing the second transitive dependency between UOM_ID, UOM, SCALAR_FACTOR and SCALAR_ID

In [6]:
cursor.execute("select distinct UOM from jobs")
uomdata = cursor.fetchall()
UOMList = []
for value in uomdata:
    UOMList.append(value[0])
    
cursor.execute("select distinct UOM_ID from jobs")
uomiddata = cursor.fetchall()
UOMIDList = []
for value in uomiddata:
    UOMIDList.append(value[0])
    
cursor.execute("select distinct SCALAR_FACTOR from jobs")
sfdata = cursor.fetchall()
SFList = []
for value in sfdata:
    SFList.append(value[0])
    
cursor.execute("select distinct SCALAR_ID from jobs")
siddata = cursor.fetchall()
SIDList = []
for value in siddata:
    SIDList.append(value[0])

# Creating the new csv file for the new table

In [7]:
finalList =  ["uom_id,uom,scale_factor,scale_id"]
for index in range(len(UOMIDList)):
    line = "{},{},{},{}".format(UOMIDList[index],UOMList[index],SFList[index],SIDList[index])
    finalList.append(line)
result = "\n".join(finalList)

# Writing it to the file

In [8]:
fout = open("C:\\Users\\Hardik\\Desktop\\UOMNorm.csv","w")
fout.write(result)
fout.close()

# Now removing the non attributes from the main file that causes transitive dependecy as we have already created a separate table for them

In [9]:
df = pd.read_csv("C:\\Users\\Hardik\\Desktop\\data.csv")

In [10]:
df.head()

,ID,REF_DATE,GEO,DGUID,Job vacancy statistics,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS
0,0,2011-03,Canada,2016A000011124,Number of job vacancies,Industrial aggregate excluding unclassified bu...,Number,223,thousands,3,v65956923,1.1.2,229.8,A,1
1,1,2011-03,Canada,2016A000011124,Number of job vacancies,"Forestry, logging and support [11N]",Number,223,thousands,3,v65956922,1.1.4,NaN,F,1
2,2,2011-03,Canada,2016A000011124,Number of job vacancies,"Mining, quarrying, and oil and gas extraction ...",Number,223,thousands,3,v65956924,1.1.10,4.3,D,1
3,3,2011-03,Canada,2016A000011124,Number of job vacancies,Utilities [22],Number,223,thousands,3,v65956925,1.1.17,NaN,F,1
4,4,2011-03,Canada,2016A000011124,Number of job vacancies,Construction [23],Number,223,thousands,3,v65956926,1.1.21,11.7,D,1

In [11]:
toDrop = ["DGUID","UOM","SCALAR_FACTOR","SCALAR_ID","ID"]
df = df.drop(toDrop, axis = 1)

In [12]:
df.head()

,REF_DATE,GEO,Job vacancy statistics,North American Industry Classification System (NAICS),UOM_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS
0,2011-03,Canada,Number of job vacancies,Industrial aggregate excluding unclassified bu...,223,v65956923,1.1.2,229.8,A,1
1,2011-03,Canada,Number of job vacancies,"Forestry, logging and support [11N]",223,v65956922,1.1.4,NaN,F,1
2,2011-03,Canada,Number of job vacancies,"Mining, quarrying, and oil and gas extraction ...",223,v65956924,1.1.10,4.3,D,1
3,2011-03,Canada,Number of job vacancies,Utilities [22],223,v65956925,1.1.17,NaN,F,1
4,2011-03,Canada,Number of job vacancies,Construction [23],223,v65956926,1.1.21,11.7,D,1

# Creating a new table for this normalized csv file

In [14]:
df.to_csv("C:\\Users\\Hardik\\Desktop\\norm_data.csv")